#categoria {
  max-width: 1000px;
  width: 60%;
  margin: 80px auto;
}

#categoria ul {
  padding-left: unset;
  margin-top: 40px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  row-gap: 25px;
}

#categoria ul li {
  margin: 10px;
}

#categoria ul li a {
  text-decoration: none;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #212227a1;
  border-radius: 6px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#categoria ul li a:hover {
  box-shadow: 0 0 6px 0 #212227a1;
  background-color: #333;
}

#categoria ul li a:checked {
  background-color: #333;
}

@media screen and (max-width: 1000px) {
  #categoria {
    text-align: center;
    width: 100%;
  }

  #categoria ul {
    justify-content: center;
  }
}
