#home {
  max-width: 1000px;
  height: 80vh;
  width: 60%;
  margin: 80px auto;
}

#home .containerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

#home .containerHome .titleHome {
  font-size: xxx-large;
  text-align: center;
}

#home .containerHome .descriHome {
  font-size: x-large;
  color: var(--cor-textApagado);
  width: 80%;
  line-height: 1.3;
}

#home .containerHome .btnHome {
  padding: 13px;
  background: var(--cor-principal);
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
  font-size: medium;
  margin-top: 40px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 6px 0px var(--cor-principal);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#home .containerHome .btnHome:hover {
  box-shadow: 0 0 13px 0px var(--cor-principal);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
  #home {
    width: 90%;
    margin: 40px auto;
  }

  #home .containerHome .descriHome {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #home .containerHome .titleHome {
    font-size: xx-large;
    text-align: center;
  }

  #home .containerHome .descriHome {
    font-size: large;
  }
}
