header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .logo {
  display: flex;
  align-items: center;
  font-size: larger;
}

header .logo svg {
  fill: var(--cor-principal);
  padding: 5px;
  height: 40px;
  width: 30px;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header nav ul li a {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: var(--cor-textApagado);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

header nav ul li a:hover {
  background-color: var(--cor-principal);
  color: white;
}
