#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer p {
  color: var(--cor-textApagado);
}

#footer ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

#footer ul li {
  padding: 10px;
  color: var(--cor-textApagado);
  cursor: pointer;
}

#footer ul li:hover {
  color: white;
  text-decoration: underline;
}
